@model IEnumerable<ClickMathsMVC.Models.CMQuiz>

@{
    ViewBag.Title = "Quizs10";
    Layout = null;
}

<h2>Quizs10</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizImg)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td style="margin:auto">
            @*@Html.DisplayFor(modelItem => item.QuizImg)*@
            <div style="width: 65%; height: 100%;background-image: url('../../AppFile/Img/pustka-jak-kartka-papieru.jpg'); margin:auto; border-radius:10px; text-align:center">
                <img src="@Url.Content(item.QuizImg)" style="height:40%; width:35%;margin:auto" id="prevImg" />
                <div style="padding:20px 0px; margin:0% 30%">
                    @*<input type="number" id="UsAnswer" class="odp" style="margin:auto; width:60%;height:50%;"/>*@ 
                    @*<button type="button"onclick="checkJsFun('@item.CorrectAnswer', '@item.Points')" value="OK">OK</button>*@
                    <br />
                    @*<div class="btn"></div>
                    <button type="button" onclick="spr('@item.CorrectAnswer')" value="OK">SPR ile</button>*@
                    <div class="coolbutton"onclick="checkJsFun('@item.CorrectAnswer', '@item.Points')"></div>
                </div>
            </div>
        </td>
        @*<td>
            <input type="text" />
            <button type="submit" value="OK">OK</button>
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
