@model IEnumerable<ClickMathsMVC.Models.CMQuiz>

@{
    ViewBag.Title = "Quizs10";
    Layout = null;
}

<h2>Quizs10</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizImg)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td style="margin:auto">
            @*@Html.DisplayFor(modelItem => item.QuizImg)*@
            <div style="width: 65%; height: 100%;background-image: url('../../AppFile/Img/pustka-jak-kartka-papieru.jpg'); margin:auto">
                <img src="@Url.Content(item.QuizImg)" style="height:200px; width:320px;margin:auto" id="prevImg" />
                <div style="padding:20px 0px; margin:0% 30%">
                    <input type="number" id="UsAnswer@item.ID" class="odp"/> 
                    <button type="button"onclick="checkJsFun('@item.CorrectAnswer')" value="OK">OK</button>
                    <br />
                    <button type="button" onclick="spr('@item.CorrectAnswer')" value="OK">SPR ile</button>
                </div>
            </div>
        </td>
        @*<td>
            <input type="text" />
            <button type="submit" value="OK">OK</button>
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
